ErrorDocument 404/ /404.shtml
RewriteEngine on
Options All -Indexes
RewriteRule ^404/?$ 404.php [L]
RewriteRule ^index/?$ index.php [L]
RewriteRule ^([A-Za-z0-9_-]+)?$ index.php?pages=$1 [L]
RewriteRule ^sitemap.xml?$ index.php?page=sitemap.xml [L]
RewriteRule ^p/?$ halaman.php [L]
RewriteRule ^profile/?$ home.php [L]
RewriteRule ^search/?$ search.php [L]
RewriteRule ^login/?$ login.php [L]
RewriteRule ^category/?$ category.php [L]
RewriteRule ^category/([A-Za-z0-9_-]+)?$ category.php?slug=$1 [L]
RewriteRule ^category/([A-Za-z0-9_-]+)/([A-Za-z0-9_-]+)?$ category.php?slug=$1&page=$2 [L]
RewriteRule ^record/?$ record.php [L]
RewriteRule ^boking/?$ boking.php [L]
RewriteRule ^contact/?$ kontak.php [L]
RewriteRule ^contact/([A-Za-z0-9_-]+)?$ kontak.php?warning=$1 [L]
RewriteRule ^verified/?$ verified.php [L]
RewriteRule ^more/?$ more.php [L]
RewriteRule ^tags/?$ tags.php [L]
RewriteRule ^tags/([A-Za-z0-9_-]+)?$ tags.php?slug=$1 [L]
RewriteRule ^more/([A-Za-z0-9_-]+)?$ more.php?id=$1 [L]
RewriteRule ^more/([A-Za-z0-9_-]+)/([A-Za-z0-9_-]+)?$ more.php?id=$1&video=$2 [L]
RewriteRule ^([A-Za-z0-9_-]+)/page/([A-Za-z0-9_-]+).html?$ page.php?url=$1&id=$2 [L]
RewriteRule ^page/([A-Za-z0-9_-]+).html?$ page.php?id=$1 [L]
RewriteRule ^page/([A-Za-z0-9_-]+).html/([A-Za-z0-9_-]+)?$ page.php?id=$1&page=$2 [L]
RewriteRule ^p/([A-Za-z0-9_-]+)?$ halaman.php?page=$1 [L]
RewriteRule ^p/sitemap.xml?$ halaman.php?page=sitemap.xml [L]

RewriteRule ^sitemap_index.xml/?$ sitemap_index.php [L]
RewriteRule ^post-sitemap.xml/?$ sitemap_post.php [L]
RewriteRule ^page-sitemap.xml/?$ sitemap_page.php [L]
RewriteRule ^category-sitemap.xml/?$ sitemap_category.php [L]

RewriteRule ^installation/?$ install.php [L]
RewriteRule ^installation/([A-Za-z0-9_-]+)?$ install.php?tahap=$1 [L]
RewriteRule ^installation/([A-Za-z0-9_-]+)/([A-Za-z0-9_-]+)?$ install.php?tahap=$1&status=$2 [L]