ErrorDocument 404/ /404.shtml
RewriteEngine on
Options All -Indexes
RewriteRule ^404/?$ 404.php [L]
RewriteRule ^index/?$ index.php [L]
RewriteRule ^record/?$ record.php [L]
RewriteRule ^logout/?$ logout.php [L]
RewriteRule ^menu/?$ menu.php [L]
RewriteRule ^banner/?$ banner.php [L]
RewriteRule ^post/?$ post.php [L]
RewriteRule ^allpost/?$ AllPost.php [L]
RewriteRule ^allpost/([A-Za-z0-9_-]+)?$ AllPost.php?page=$1 [L]
RewriteRule ^category/?$ category.php [L]
RewriteRule ^category/([A-Za-z0-9_-]+)?$ category.php?page=$1 [L]
RewriteRule ^media/?$ media.php [L]
RewriteRule ^memberlist/?$ memberlist.php [L]
RewriteRule ^produkpost/?$ produk.php [L]
RewriteRule ^boking/?$ boking.php [L]
RewriteRule ^themes/?$ themes.php [L]
RewriteRule ^page/?$ page.php [L]
RewriteRule ^widget/?$ widget.php [L]
RewriteRule ^contact/?$ contact.php [L]
RewriteRule ^profile/?$ profile.php [L]
RewriteRule ^customcss/?$ customcss.php [L]
RewriteRule ^password/?$ password.php [L]